<h1 class="page-title">Drag And Drop </h1>

<p class="page-abstract">
  Directives to transform any tag in a draggable and/or droppable elements. Working with data model and every "JSON parsable
  element (i.e, Cat and Dog models). This implementation provides validation capability to check if dragged object is
  compliant with what the droppable element is expecting to receive. Users can also provide a callback to transform dragged
  object before receiving the DropEvent, with the object inside.
</p>


<div class="page-demo">

  <app-demo-dnd-cats></app-demo-dnd-cats>
  <br>
  <br>
  <app-demo-dnd-dogs></app-demo-dnd-dogs>

</div>
<app-code-base [githubRaw]="demoCodeFiles"></app-code-base>
<br>

<h2 class="page-title">
  Draggable Directive
</h2>

<p>
  To make an object draggable, you have to implement <strong class="code" >DraggableType&lt;T&gt;</strong>.
  You can choose to represent the Object as String the way you want. Default is using <strong class="code">
  JSON.stringify()</strong> function.
  <br>
  In the following example, Dog are hiding their color when they get dragged.
</p>
<app-code-base [githubRaw]="interfaceDraggableType"></app-code-base>


<br>

<p>
  Then simply add the dirrective <strong class="code">appDraggable</strong> on the DOM item to drag (see demo), and use
  provided input / outputs to interface with the drag life cycle:
</p>
<app-code-base [githubRaw]="draggableDirective"></app-code-base>

<h2 class="page-title">
Droppable Directive
</h2>

<p>
  Droppable directive allows you to provide <strong class="code">validator</strong>  and <strong class="code">transform</strong>
  callbacks to filter dropped object to only the one that fit your needs. See demo to see how to use it, and the directive's
  source code for exhaustive list of input / outputs available.
</p>
<app-code-base [githubRaw]="droppableDirective"></app-code-base>
