:host{
  display: block;
  .sidebar-menu-link{
    display: block;
    border-right: 4px solid transparent;
    text-decoration: none;
    font-style: italic;
    color: black;

    &.active{

      border-right-color: black;
      background-color: rgba(138,148,150,.1);
    }
    &:hover:not(.active), &.active{
      color: #8a9496;
    }
  }

}
