:host {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .dog {
    width: 150px;
    border-radius: 8px;
    padding: 2rem 3rem;
    border: 1px lightgrey dashed;

    &.dog-draggable {
      background: white;

      &.blue {
        color: blue;
        animation: pulsateShadow 3s ease-out infinite;
      }

      &.pink {
        color: deeppink;
      }
    }

    &.dog-droppable {
      background-color: #acdc;

      &.success {
        background-color: #33FF3355;
      }

      &.error {
        background-color: #FF333355;
      }
    }
  }
}

