:host {
  display: block;
  padding-top: .5em;


  .sidebar-menu-group-header {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid rgba(138, 148, 150, .1);
    }
  }

  .sidebar-menu-group-content {
    display: none;

    &.expanded {
      display: initial;
    }
  }

  .sidebar-menu-group-sub-level {
    margin-left: .75rem;
  }
}
