<h1 class="page-title">Generic Sorting</h1>

<p class="page-abstract">
  Pipe to sort any array by just providing the field name.
</p>

<div class="page-demo">
  <app-demo-order-by></app-demo-order-by>
</div>
<app-code-base [githubRaw]="demoFiles"></app-code-base>

<h2 class="page-title">
  Usage
</h2>

<p class="page-text">
  Use in HTML as a normal pipe <strong class="code"> list | orderByProperty : 'name'</strong>

</p>

<h2 class="page-title">
  Sources
</h2>
<p class="page-text">
  Standalone pipe. Source code as following:
</p>
<app-code-base [githubRaw]="sourceFile"></app-code-base>
