.json-editor {
  white-space: pre;
  outline: none;
}

.string {
  color: green
}

;
.number {
  color: darkorange
}

;
.boolean {
  color: blue !important;
}

;
.null {
  color: magenta
}

;
.key {
  color: red !important;
}

;
